<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar  navbar-light bg-light">
      <a class="navbar-brand" href="#">
      <%= image_tag "popcorn2.png", width: '20%' %>
      </a>
      </button>
      <div class="d-flex">
          <a class="nav-link" href="/lists">My Lists<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/lists/new">New List</a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
